//variables
//@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700');

// Global
//$font-family    : 'Work Sans', sans-serif;
$font-size      : 16px;
$line-height    : 1.53;

// Font Weights
$regular : 400;
$medium : 500;
$semi-bold : 600;
$bold    : 700;

//base clrs
$fontClr: #ffffff;
$green: #39b54a;
$green-border: #b8dcca;
$grey-border: #cececf;
$grey: #464f56;
$grey-1: #2b3237;
$grey-2: #76828f;
$grey-3: #353d42;
$grey-4: #333b41;
$btn-grey: #58595b;
$black: #212121;